<div id="overlay" #overlay>
    <div class = "centered">
        <div class = "blob-1"></div>
        <div class = "blob-2"></div>
    </div>
</div>

<header>
    <div class="logo">
        <a  [routerLink] = "'/'">
        <img class="logo-img" src="assets/img/icon2.svg" alt="logo">
        </a>
        <a [routerLink] = "'/'" style="text-decoration: none;">
        <p>Sentiment Analysis</p>
        </a>
     </div>
     <nav>
        <input type="checkbox" id="nav" class="hidden"/>
        <label for="nav" class="nav-open"><i></i><i></i><i></i></label>
        <div class="live"></div>
        <div class="nav-container">
            <ul>
            <li *ngIf="router.url != '/developers' && router.url != '/details'">
                <a class="anchor" [routerLink] = "'/details'" onclick="document.getElementById('nav').checked=false;">Detailed Mode</a>
            </li>
            <li *ngIf="router.url != '/developers' && router.url == '/details'">
                <a class="anchor" [routerLink] = "'/'" onclick="document.getElementById('nav').checked=false;">Simple Mode</a>
            </li>
            <li *ngIf="router.url == '/developers'">
                <a class="anchor" [routerLink] = "'/'" onclick="document.getElementById('nav').checked=false;">Home</a>
            </li>
            <li><a [routerLink] = "'/feedback'" class="anchor" onclick="document.getElementById('nav').checked=false;">Feedback</a></li>
            <li><a [routerLink] = "'/developers'" class="anchor" onclick="document.getElementById('nav').checked=false;">Developers</a></li>
            </ul>
        </div>
     </nav>
</header>


<div>
    <router-outlet></router-outlet>
</div>