<div class="wrapper">
    <div class="search-container" [ngClass] = "{'search-empty': searchtext.length===0, 'search-nonempty': searchtext.length>0}">
        <input type="text" class="form-control txtsearch" [(ngModel)]="searchtext" placeholder="search hashtag"
            (keydown)="onKeyDown($event)">
    </div>
    <br/><br/><br/>
    <div class="section1" *ngIf="searchtext.length!==0 && newChartData">
        <app-doughnut-new [chart-data]="newChartData"></app-doughnut-new>
        <div style="text-align: center;">
            <h3>{{resultdata.tweetcount}} Tweets analysed</h3>
        </div>
    </div>
    <br/>
    
    <div class="section3"  *ngIf="imagePath!=null && newChartData!==null && searchtext.length!==0">
        <div class="top">
            <h3>Most used words in positive tweets</h3>
            <img [src]="imagePath"/>
        </div>
        <div class="bottom">
            <br><br>
            <h3>Most used words in negative tweets</h3>
            <img [src]="imagePath1"/>
        </div>
    </div>
    <br/><br/><br/>
    <div class="section2" *ngIf="newChartData!==null && searchtext.length!==0 && resultdata.tweetcount>0">
        <div class="left">
            <h3>Positive Tweets</h3>
            <app-tweet-new [myurl]="resultdata.postweet[0]"></app-tweet-new>
            <app-tweet-new [myurl]="resultdata.postweet[1]"></app-tweet-new>
        </div>
        <div class="right">
            <h3>Negative Tweets</h3>
            <app-tweet-new [myurl]="resultdata.negtweet[0]"></app-tweet-new>
            <app-tweet-new [myurl]="resultdata.negtweet[1]"></app-tweet-new>
        </div>
    </div>
    
</div>