<div id="overlay" #overlay>
    <div class = "centered">
        <div class = "blob-1"></div>
        <div class = "blob-2"></div>
    </div>
</div>
<nav class="navbar navbar-dark">
    <a class="navbar-brand" [routerLink] = "'/'">
        <img src="assets/img/icon2.svg" width="30" height="30" class="d-inline-block align-top" alt="SentimentAnalysisOfTweets">
        Sentiment Analysis
    </a>
    <ul class="navbar-nav ml-auto">
        <li *ngIf="router.url != '/details'">
            <a [routerLink] = "'/details'">DETAILED MODE</a>
        </li>
        <li *ngIf="router.url == '/details'">
            <a [routerLink] = "'/'">SIMPLE MODE</a>
        </li>
    </ul>
</nav>