.search-container {
    width: 400px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: ease all .5s;
    z-index: 10;
}
.search-nonempty {
    top: 60px;
    transition: ease all .5s;
}
.search-empty {
    top: 50%;
    transition: ease all .5s;
}

input {
    background-color: #FFFFFF;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    text-align: center;
    height: 100%;
    font-size: 26px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    border-radius: 30px 30px 30px 30px;
}

input:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 10px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}


.wrapper {
    display: flex;
    flex-direction: column;
    height: 92vh;
}

.section1 {
    flex: 1;
    width: 75%;
    height: 100%;
    align-self: center;
}

.section2 {
    flex: 1;
    display: flex;
}

.left, .right {
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section3 {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

@media screen and (max-width: 1000px) {

    .section1 {
        width: 100%;
        margin-top: 50px;
    }
    .section2 {
        flex-direction: column;
    }
    .search-nonempty {
        top: 110px;
        transition: ease all .5s;
    }
    .search-empty {
        top: 50%;
        transition: ease all .5s;
    }
}