.search-container {
    width: 400px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: ease all .5s;
    z-index: 10;
}
.search-nonempty {
    top: 60px;
    transition: ease all .5s;
}
.search-empty {
    top: 50%;
    transition: ease all .5s;
}

input {
    background-color: #FFFFFF;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    text-align: center;
    height: 100%;
    font-size: 26px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    border-radius: 30px 30px 30px 30px;
}

input:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 10px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}

.wrapper {
    display: flex;
    height: 100%;
    overflow: hidden;
    padding: 20px;
}
.section2 {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section1 {
    flex: 1;
    overflow: hidden;
    max-height: 100%;
}
body {
    overflow: hidden;
}
.doughnut {
    background: #181818;
}

@media screen and (max-width: 1000px) {
    .wrapper {
        flex-direction: column;
        overflow: auto;
    }
    .section1 {
        overflow: initial;
    }
    body {
        overflow: auto;
    }
    .section2 {
        overflow: initial;
    }
    .search-nonempty {
        top: 110px;
        transition: ease all .5s;
    }
    .search-empty {
        top: 50%;
        transition: ease all .5s;
    }
}