body {
    background: #181818;
    color: white;
}
.c-container {
    min-width: 440px;
    height: calc(100vh - 56px);
    width: 100%;
    padding: 20px; 
    overflow-x: hidden;
}

.chart-grooming {
    max-width: 900px;
    min-width: 420px;
}

a 
{
    color: rgb(204, 196, 196);
    font-weight: bold;
}
a:hover 
{
    color: rgb(204, 196, 196);
}