<div class="center-everything">
    <div class="section1">
        <div class="details-options">
            <table>
                <tr>
                    <td align="right"><label for="hashtag">Hashtag:&nbsp;</label></td>
                    <td><input placeholder="search hashtag" style="width: 300px;" type="text" class="form-control" name="hashtag" [(ngModel)]="hashtag"/></td>
                </tr>
                <tr>
                    <td align="right"><label for="dorm">Type:&nbsp;</label></td>
                    <td>
                        <select class="form-control" name="dorm" [(ngModel)]="dorm">
                            <option value="-1">--Select--</option>
                            <option value="0">DAYS</option>            
                            <option value="1">MONTHS</option>
                        </select>    
                    </td>
                </tr>
                <tr>
                    <td align="right"><label for="countofdorm">Duration:&nbsp;</label></td>
                    <td>
                        <select class="form-control" name="countofdorm" [(ngModel)]="countofdorm">
                            <option value="0">--Select--</option>
                            <ng-template [ngIf]="dorm=='0'">
                                <option value="3">3 days</option>            
                                <option value="6">6 days</option>
                                <option value="9">9 days</option>
                            </ng-template>
                            <ng-template [ngIf]="dorm=='1'">
                                <option value="3">3 months</option>            
                                <option value="6">6 months</option>
                                <option value="12">12 months</option>   
                            </ng-template>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td align="right"><label for="tweetcount">Count:&nbsp;</label></td>
                    <td>
                        <select class="form-control" name="tweetcount" [(ngModel)]="tweetcount">
                            <option value="0">--Select--</option>        
                            <ng-template [ngIf]="dorm=='0'">
                                <option value="100">100 tweets/days</option>            
                                <option value="200">200 tweets/days</option>
                                <option value="500">500 tweets/days</option>
                            </ng-template>
                            <ng-template [ngIf]="dorm=='1'">
                                <option value="100">100 tweets/month</option>            
                                <option value="200">200 tweets/month</option>
                                <option value="500">500 tweets/month</option>
                            </ng-template>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button class="form-control btn btn-info" (click)="detailed_search()">Search</button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td *ngIf="tweetcount!=0">
                        <p style="color: red; text-align: center;">estimated time: {{1.5*countofdorm*tweetcount/100}} seconds!</p>
                    </td>
                </tr>
            </table>
        </div>
        <div *ngIf="lineChartData!=null && lineChartData.tweetcount>0" class="chart-grooming">
            <app-line-chart [newChartData]="lineChartData"></app-line-chart>
        </div>
    </div>
    <div class="section2" *ngIf="lineChartData!=null && lineChartData.tweetcount>0">
        <div class="doughnut-chart">
            <app-doughnut [newChartData]="newChartData"></app-doughnut>
        </div>
    </div>
    <div class="section3" *ngIf="lineChartData!=null && lineChartData.tweetcount>0">
        <div class="left">
            <h3>Positive</h3>
            <app-tweet [myurl]="lineChartData.postweet[0]"></app-tweet>
            <app-tweet [myurl]="lineChartData.postweet[1]"></app-tweet>
        </div>
        <div class="right">
            <h3>Negative</h3>
            <app-tweet [myurl]="lineChartData.negtweet[0]"></app-tweet>
            <app-tweet [myurl]="lineChartData.negtweet[1]"></app-tweet>
        </div>
    </div>
    <div class="section4">     
        <div class="right11" *ngIf="imagePath!=null">
            <img [src]="imagePath"/>
        </div>
    </div>
</div>
